body {
    /* The background image of books is created by Annie Spratt and has been retrived
    from (https://unsplash.com/photos/lIWF2uHxs0Q). */ 
    background-image: url("/static/images/books.jpg");
    background-color: grey;
    background-repeat: repeat-y;
    max-width: 100%;
    height: auto;
}

.header {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: #3c4048;
}


.btn {
    margin: 10px 10px 0 10px;
    /* width: 136px; */
    width: auto;
    min-width: 100px;

}

.accent-grey {
    color: #3c4048;
}

.accent-light {
    background-color: #dadbdb;
}

strong {
    font-weight: bolder !important;
}


/* base template */

.brand-logo {
    height: 120px;
    width: 120px;
    /* margin: 0 10px 0 10px; */
}

.navbar {
    background-color: #3c4048;
    height: 120px;
    padding: 0 30px 0 30px;
}

.sidenav-trigger {
    margin-top: 30px !important;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

nav ul a {
    font-size: 25px;
    color:  #ebedef;
    padding: 5px 10px 10px 10px;
    margin: 20px 10px 10px 10px;
    letter-spacing: 2px;
    border-radius: 10px;
}

.welcome-header {
    background-color: #dadbdb;
    opacity: 0.85;
    color: rgb(68, 68, 68);
    padding: 20px;
    width: 100%;
    font-family: 'Playfair Display', serif;
}

.welcome-header h2 {
    letter-spacing: 3px;
}

.welcome-header p {
    margin: 0;
    font-size: large;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.flashes h4 {
    line-height: 2;
    color: white;
    background-color: #546e7a;
}

.page-footer {
    background-color: #3c4048;
    margin-top: 50px;
    padding-top: 20px;

}

.footer-header {
    margin: 0px;
    padding-top: 10px;
}

.social-links-div {
    margin: 10px;

}

.social-links {
    font-size: 30px;
    padding: 5px;
    color: #dadbdb;
    border-radius: 5px;
}

.info-links {
    padding: 3px;
    border-radius: 5px;
}


/* categories */

.collapsible-header {
    background-color: #3c4048;
    /* text-align: center !important; */
}

.btn-large {
    width: 200px;
}


/* reviews */

.no-result {
    margin-bottom: 100px;
}

.review-filter-input {
    /* margin: 10px; */
    margin-top: 20px;
    padding-top: 20px !important;
}

.review-div {
    margin-top: 10px;
}

.search-input {
    margin-top: 20px;
}

.search-icon {
    color: #3c4048;
}

.search-filter-row {
    padding-top: 10px;
}



/* log in and register */

.login-reg-bottom-text {
    background-color: #3c4048;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
}


/* profile */

/* full review */

.description-div {
    margin: 10px !important;
    padding-left: 10px;
}


