{% extends "base.html" %}
{% block content %}

    <h3 class="grey-text text-lighten-2 center-align">New Review</h3>


    <!-- <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix light-blue-text text-darken-4"></i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">First Name</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-phone prefix light-blue-text text-darken-4"></i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Telephone</label>
                </div>
            </div>
        </form>
    </div> -->


<div class="row">
    <div class="col s12 center-align">
        <div class="card grey lighten-2">
            <div class="card-content black-text">
                <span class="card-title">
                    <div class="input-field">
                        <i class="fas fa-book prefix black-text"></i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Book Title</label>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user-edit prefix black-text"></i>
                        <input id="icon_author" type="text" class="validate">
                        <label for="icon_author">Author</label>
                    </div>
                    <div class="input-field">
                        <i class="far fa-folder-open prefix black-text"></i>
                        <input id="icon_folder" type="text" class="validate">
                        <label for="icon_folder">Choose Category</label>
                    </div>
                    <div class="input-field">
                        <i class="far fa-comment-dots prefix black-text"></i>
                        <input id="icon_language" type="text" class="validate">
                        <label for="icon_language">Language</label>
                    </div>
                    <div class="input-field">
                        <i class="far fa-file-alt prefix black-text"></i>
                        <input id="icon_length" type="text" class="validate">
                        <label for="icon_length">Length in pages</label>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-pen-fancy prefix black-text"></i>
                        <input id="icon_pen" type="text" class="validate">
                        <label for="icon_pen">Write a review here . . .</label>
                    </div>                                                                
                </span>
                <div>
                    <button>Add Review</button>
                    <button>Undo</button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

