<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap" rel="stylesheet"> 
    <!-- The logo and favicon for The Reading was created by me with the website https://hatchful.shopify.com/ -->
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon.png">
	<title>The Reading</title>
    {% block styles %}
    {% endblock %}
    <title>The Reading</title>
</head>
<body>
    <header>
        <!-- top navbar -->
        <nav class="navbar nav-extend text-shadow">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_reviews') }}" class="brand-logo">
                        <!-- The logo and favicon for The Reading was created by me with
                            the website https://hatchful.shopify.com/ -->
                    <img src="/static/images/the-reading-logo.png" alt="The Reading logo"
                        class="brand-logo"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
                    <i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down list-items">
                    <li><a href="{{ url_for('get_reviews') }}">Home</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_review') }}">New Review</a></li>
                        {% if session.user|lower == "admin"|lower %}
                            <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                        {% endif%}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif%}
                </ul>
            </div>
        </nav>
        <!-- mobile sidenav -->
        <ul class="sidenav grey lighten-2" id="mobile-demo">
            <li><h4 class="center-align">The Reading</h4></li>
            <li><a href="{{ url_for('get_reviews') }}">Home</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('add_review') }}">New Review</a></li>
                {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                {% endif%}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif%}
        </ul>
        {% if session.user %}
        {% else %}
            <div class="row welcome-header">
                <div class="center-align ">
                    <div class="col s12">
                        <h2>By book lovers, for book lovers . . .</h2>
                    </div>
                    <div class="col s12 m6 offset-m3 l6 offset-l3">
                        <p>
                            Love reading books but don't know what to read next?
                            Here you can find like minded people, share a review
                            and read others in pursuit of your next literal adventure.
                            Register to post your own reviews!
                        </p>
                    </div>
                </div>
            </div>
        {% endif%}
    </header>
    <section>
        <!-- flash message -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="center align text-shadow">{{ message}}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row center-align">
                <div class="col l4 s12">
                    <h5 class="white-text footer-header">Social links</h5>
                    <div class="grey-text text-lighten-4 social-links-div">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square social-links hoverable"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram-square social-links hoverable"></i></a>
                        <a href="https://www.twitter.com/"><i class="fab fa-twitter-square social-links hoverable"></i></a>
                        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin social-links hoverable"></i></a>
                    </div>
                </div>
                <div class="col l4 s12">
                    <!-- The logo and favicon for The Reading was created
                    by me with the website https://hatchful.shopify.com/ -->
                    <img src="/static/images/the-reading-logo.png" alt="The Reading logo">
                </div>
                <div class="col l4 s12 center-align">
                    <a href="{{ url_for('information') }}"><h5 class="white-text footer-header">Information</h5></a>
                    <ul>
                        <li><a class="grey-text text-lighten-3 hoverable info-links" href="{{ url_for('information') }}">About Us</a></li>
                        <li><a class="grey-text text-lighten-3 hoverable info-links" href="{{ url_for('information') }}">Terms</a></li>
                        <li><a class="grey-text text-lighten-3 hoverable info-links" href="{{ url_for('information') }}">Privacy</a></li>
                        <li><a class="grey-text text-lighten-3 hoverable info-links" href="{{ url_for('information') }}">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="grey-text text-lighten-4 left">© 2021 Copyright The Reading</div>
                <div class="grey-text text-lighten-4 right">
                    <a href="mailto:thereading@readerz.null">thereading@readerz.null</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>