{% extends "base.html" %}
{% block content %}

    <h3 class="header grey-text text-lighten-2 center-align">
        {{ review.book_name }}
    </h3>

    <ul class="row grey lighten-2 card-panel hoverable">
        <li>
            <div class="card-content">
                <div class="col s12">
                    <div class="col l3 m4">
                        <img src="/static/images/book-image.jpg" alt="Book image">
                    </div>
                    <div class="col l4 m4">
                        <em>{{ review.book_name }}</em>
                        <br>
                        {{ review.author_name }}
                        <br>
                        {{ review.category_name }}
                        <br>
                        {{ review.language }}
                    </div>
                    <div class="col l4 m4">
                        {{ review.page_length }} pages
                        <br>
                        {{ review.published_date }}
                        <br>
                        {% if review.explicit_content == "on" %}
                        <i class="fas fa-exclamation-triangle tooltipped"
                            data-position="bottom" data-tooltip="Explicit content!"></i>
                        <br>
                        {% endif %}
                        <em>By: {{ review.created_by }}</em>
                    </div>
                </div>
                <div class="section col s12 description-div">
                    <p>{{ review.review_description }}</p>
                </div>
                <div class="center-align">
                    {% if session.user|lower == review.created_by|lower %}
                    <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn blue darken-2 white-text">
                        Edit Review
                    </a>

                    <a class="waves-effect waves-light btn modal-trigger btn red darken-2 white-text" href="#modal1">Delete Review</a>
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>Are you sure that you want to delete this review? This action can not be undone. </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-red btn-flat">No, Cancel</a>
                            <a href="{{ url_for('delete_review', review_id=review._id) }}" class="modal-close waves-effect waves-green btn-flat">Yes, Delete</a>
                        </div>
                    </div>

                    <!-- <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn red darken-2 white-text">
                        Delete Review
                    </a> -->
                    {% elif session.user|lower == "admin"|lower %}
                    <a class="waves-effect waves-light btn modal-trigger btn red darken-2 white-text" href="#modal2">Delete Review</a>
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Delete Review</h4>
                            <p>Are you sure that you want to delete this review? This action can not be undone. </p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-red btn-flat">No, Cancel</a>
                            <a href="{{ url_for('delete_review', review_id=review._id) }}" class="modal-close waves-effect waves-green btn-flat">Yes, Delete</a>
                        </div>
                    </div>
                     {% endif %}
                    <!-- Modal Structure -->
                </div>
            </div>
        </li>
    </ul>





{% endblock %}