{% extends "base.html" %}
{% block content %}


    <h3 class="header grey-text text-lighten-2 center-align">Information</h3>


    <div class="row">
        <div class="hoverable card-content grey lighten-2 card-panel center-align">
            <h4>About Us</h4>
            <p>Welcome to The Reading! This webpage is by book lovers, for book
                lovers all over the world. Here you can read others and create your
                own reviews as well as edit and delete them. Have fun discovering
                new books, authors and genres as you traverse through The Reading
                and recommend it to your friends. The more users there are, the
                more reviews we can share together. Hope you enjoy this webpage
                and if you have any questions don’t hesitate to contact us through
                any of our social media or our email:
                <br>
                thereading@readerz.null
            </p>
            <h4>CurrentTerms</h4>
                <ol>
                    <li>
                        Do not share personal or sensitive information 
                        (your own or others) on The Reading. This infers usernames,
                        passwords and reviews. The Reading will not take responsibility
                        if personal information is leaked.
                    </li>
                    <li>
                        No hateful or discriminating content.
                    </li>
                    <li>
                        Inability to comply with current terms will lead to
                        erasure of account and reviews.
                    </li>
                </ol>
            <h4>Privacy</h4>
            <p>
                As stated in terms, The Reading does not wish to and will not store
                personal information. Registered users can at any time delete their
                account in the profile section. After deletion The Reading will not
                save any information about that account. Note that the reviews you
                have created will remain even after your account’s deletion. If you
                do not want the reviews to stay on the webpage then delete the
                reviews before you delete your account.
            </p>
            <h4>FAQ</h4>
            <ol>
                <li>How do I create an account?</li>
                <p>Press the 'Register' button in the navigation bar. The type in a 
                    username and password of your choice and lastly the 'Register'
                    button. And you are all set! You can start making reviews straight
                    away and also see others reviews. 
                </p>
                <li>How do I edit my review?</li>
                <p>Press the home button and find your review or press the profile
                    button. On the review there should be two buttons, one blue and
                    one red button. Press the blue button that says 'Edit', change
                    want you want to change in the text form and then press the green
                    button that says 'Add Changes' and voilà! You have successfully
                    edited your review.</p>
                <li>How do I delete a review?</li>
                <p>Press the 'Profile' button in the navigation bar. And in the first
                    column you will see a button called 'Delete Account'. Press this
                    button to delete your account. Caution! This acction can not be
                    recalled, once you have removed your account you cannot get it back. 
                </p>
                <li>Can I edit or delte other users reviews?</li>
                <p>No, you can only edit or delete your own reviews. If there is a
                    review that goes agaings The Readings terms and policies, please
                    conntact The Reading and we will remove that review or ask the user
                    to edit the reivew for it to comply wtih current terms and policy. 
                </p>
                <li></li>
            </ol>
        </div>
    </div>

    


{% endblock %}