{% extends "base.html" %}
{% block content %}


    <h3 class="header grey-text text-lighten-2 center-align">Information</h3>


    <div class="row">
        <div class="hoverable card-content grey lighten-2 card-panel center-align">
            <h4>About Us</h4>
            <p>The Reading</p>
            <h4>Terms</h4>
            <p>Current terms</p>
            <h4>Privacy</h4>
            <p>GDPR</p>
            <h4>FAQ</h4>
            <p>How do I...?</p>
        </div>
    </div>

    


{% endblock %}