{% extends "base.html" %}
{% block content %}



    <h3 class="header grey-text text-lighten-2 center-align">
        {{ username }}'s Profile
    </h3>


    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="center-align card-content grey lighten-2 card-panel">
               <h5>Total amount of reviews:</h5>
               <h6>{{ reviews|length }}</h6>
               <h5>Member since: </h5>
               <h6></h6>
               <br>
               <br>
               <button class="btn delete-account-btn red darken-2">Delete account</button>
            </div>
        </div>
    </div>


    {% if reviews|length > 0 %}
    <ul class="row">
        {% for review in reviews %}
        <li>
            <div class="hoverable card-content grey lighten-2 card-panel">
                <div class="col l3 m4">
                    <img src="/static/images/book-image.jpg" alt="Book image">
                </div>
                <p>
                {{ review.book_name }}
                <br>
                {{ review.author_name }}
                <br>
                {{ review.category_name }}
                <br>
                {{ review.language }}
                <br>
                {{ review.page_length }}
                <br>
                {{ review.published_date }}
                <br>
                <p class="truncate">{{ review.review_description }}</p>
                {% if review.explicit_content == "on" %}
                <i class="fas fa-exclamation-triangle tooltipped"
                    data-position="bottom" data-tooltip="Explicit content!"></i>
                <br>
                {% endif %}
                <em>By: {{ review.created_by }}</em>   
                </p>
                <div class="center-align">
                    <a href="{{ url_for('single_review') }}" class="btn teel darken-2 white-text">
                        Full Review
                    </a>
                    <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn blue accent-4 white-text">
                        Edit Review
                    </a>
                    <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn red accent-4 white-text">
                        Delete Review
                    </a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3 class="header red-text text-lighten-2 center-align no-result">No Reviews Found</h3>
    {% endif %}



{% endblock %}