{% extends "base.html" %}
{% block content %}

    <h3 class="grey-text text-lighten-2 center-align">All Reviews</h3>

    <ul class="row">
        {% for review in reviews %}
        <li>
            <div class="card-content grey lighten-2 card-panel">
                <div class="col s3">
                    <img src="static/images/book-image.jpg" alt="Book image">
                </div>
                <p>
                {{ review.book_name}}
                <br>
                {{ review.author_name}}
                <br>
                {{ review.category_name}}
                <br>
                {{ review.language}}
                <br>
                {{ review.page_length}}
                <br>
                {{ review.published_date}}
                <br>
                {{ review.review_description}}
                <br>
                {% if review.explicit_content == "on" %}
                <i class="fas fa-exclamation-triangle tooltipped"
                    data-position="bottom" data-tooltip="Explicit content!"></i>
                <br>
                <em>By: {{ review.created_by }}</em>   
                {% endif %}
                <br>
                </p>
                <div class="center-align">
                    {% if session.user|lower == review.created_by|lower %}
                    <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn blue accent-4 white-text">
                        Edit Review
                    </a>
                    <a href="" class="btn red accent-4 white-text">
                        Delete Review
                    </a>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>


{% endblock %}